<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around">
  <a class="navbar-brand" [routerLink]="[ '/']">ThunderFat Nutrition App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarCollapsing()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" [class.collapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto" *ngIf="!authService.isAuthenticated()">
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="[ '/']">Home  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
       <a [routerLink]="[ '/find-nutricionista']" class="nav-link text-white-50">Buscar Nutricionista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Trabaja con Nosotros </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="authService.hasRoles('ROLE_ADMIN')">
        <li class="nav-item">
            <a [routerLink]="[ '/paciente']" class="nav-link text-white-50">Pacientes</a>
          </li>
          <li class="nav-item">
              <a [routerLink]="[ '/cita']" class="nav-link text-white-50">Citas</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/alimentos']" class="nav-link text-white-50">Alimentos</a>
              </li>
              <li class="nav-item text-white-50">
                  <a [routerLink]="[ '/filtroalimentario']" class="nav-link ">Filtros Alimentarios</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/platopredeterminado']" class="nav-link text-white-50">Platos</a>
                  </li>
                  <li class="nav-item">
                      <a [routerLink]="[ '/plandieta']" class="nav-link text-white-50">Planes Dieta</a>
                    </li>
    </ul>
     <ul class="navbar-nav mr-auto"*ngIf="authService.hasRoles('ROLE_USER')">
       <li class="nav-item">
         <a>Primer Enlace Uusario</a>
       </li>
     </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!authService.isAuthenticated()"class="nav-item">
        <a  [routerLink]="[ '/login']" class="btn-danger btn-sm">Log in</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item">
        <a (click)="logout()"  class="btn-danger btn-sm">Log out</a>
      </li>
    </ul>
  </div>
</nav> -->




