
    

  <div class="row mt-5">
    <div class="col-md-6">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
      name="busqueda"
    />
  </mat-form-field>
  </div>
  
  </div>
  <div class="col">
  <div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="masaosea">
      <th mat-header-cell *matHeaderCellDef>Masa Osea</th>
      <td mat-cell *matCellDef="let element">  {{ element.masaosea }}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="metabolismo">
      <th mat-header-cell *matHeaderCellDef>Metabolismo</th>
      <td mat-cell *matCellDef="let element">{{ element.metabolismo }}</td>
    </ng-container>
    <ng-container matColumnDef="porcentajegrasas">
      <th mat-header-cell *matHeaderCellDef>%Grasas</th>
      <td mat-cell *matCellDef="let element">{{ element.porcentajegrasa }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="edadmet">
      <th mat-header-cell *matHeaderCellDef>Edad Metabolica</th>
      <td mat-cell *matCellDef="let element">{{ element.edadmet }}</td>
    </ng-container>
    <!---->
    <ng-container matColumnDef="musculo">
      <th mat-header-cell *matHeaderCellDef>Musculo</th>
      <td mat-cell *matCellDef="let element">{{ element.musculo }}</td>
    </ng-container>
    <ng-container matColumnDef="porcentajeagua">
      <th mat-header-cell *matHeaderCellDef>%Agua</th>
      <td mat-cell *matCellDef="let element">{{ element.porcentajeagua }}</td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="editarMedicion(row)" ></tr>
  </mat-table>
  </div>
</div>
 
 
 