<div class="paciente">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fill">
      <div class="row  ml-2">
        <h2 class="title mt-2 ml-4">Listado de Platos Predeterminados</h2>
      </div>
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-3 col-sm ml-2">
            <app-listplatospredeterminado
              [platos]="platos" 
              (seleccion)="selecionarPlatoPredeterminado($event)"
              (eliminado)="eliminarPlatoPredeterminado($event)"
              (nuevo)="nuevoPlatoPredeterminado()"
            ></app-listplatospredeterminado>
          </div>
          <div class="col-md-8 col-sm">
             <app-platopredeterminadoform
              *ngIf="isPlatoPredeterminadoSelected"
              [isNew]="newPlatoPredeterminado"
              [platoPredeterminado]="PlatoPredeterminadoSelected"
              (plato)="procesaPropagar($event)"
              (dismiss)="closeform($event)"
            ></app-platopredeterminadoform>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
