<div class="row mt-4">
  <button class="btn-success btn-sm" (click)="openNewBottonSheet()">Nuevo</button>
</div>
<div class="row mt-5">
  <div class="col-md-6">
<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="Fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element">{{ element.fecha | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="bdmusculo">
    <th mat-header-cell *matHeaderCellDef> Bdmusculo </th>
    <td mat-cell *matCellDef="let element">  {{ element.bdmusculo }}</td>
  </ng-container>

  <!-- Weight Column -->
  
  <ng-container matColumnDef="bdporcentajegrasas">
    <th mat-header-cell *matHeaderCellDef> %bdgrasas </th>
    <td mat-cell *matCellDef="let element">{{ element.bdporcentajegrasas }}</td>
  </ng-container>
  <ng-container matColumnDef="bimusculo">
    <th mat-header-cell *matHeaderCellDef> bimusculo </th>
    <td mat-cell *matCellDef="let element">{{ element.bimusculo }}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="biporcentajegrasas">
    <th mat-header-cell *matHeaderCellDef> bi%grasas </th>
    <td mat-cell *matCellDef="let element">{{ element.biporcentajegrasas }}</td>
  </ng-container>
  <!---->
  <ng-container matColumnDef="pdmusculo">
    <th mat-header-cell *matHeaderCellDef> pdmusculo </th>
    <td mat-cell *matCellDef="let element">{{ element.pdmusculo }}</td>
  </ng-container>
  <ng-container matColumnDef="pdporcentajegrasas">
    <th mat-header-cell *matHeaderCellDef> pd%grasas </th>
    <td mat-cell *matCellDef="let element">{{ element.pdporcentajegrasas }}</td>
  </ng-container>
  <ng-container matColumnDef="pimusculo">
    <th mat-header-cell *matHeaderCellDef> pimusculo </th>
    <td mat-cell *matCellDef="let element">{{ element.pimusculo }}</td>
  </ng-container>
  <ng-container matColumnDef="piporcentajegrasas">
    <th mat-header-cell *matHeaderCellDef> pimusculo </th>
    <td mat-cell *matCellDef="let element">{{ element.piporcentajegrasas }}</td>
  </ng-container>
  <ng-container matColumnDef="tmusculo">
    <th mat-header-cell *matHeaderCellDef> tmusculo </th>
    <td mat-cell *matCellDef="let element">{{ element.tmusculo }}</td>
  </ng-container>
  <ng-container matColumnDef="tporcentajegrasa">
    <th mat-header-cell *matHeaderCellDef> tporcentajegrasa </th>
    <td mat-cell *matCellDef="let element">{{ element.tporcentajegrasa }}</td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openBottonSheet(row)"></tr>
</mat-table>
</div>
</div>
</div>