<div>
  <div class="row ml-2">
     <label for="">Busqueda Paltos Predeterminado</label>
   <div class="input-group">
     
     <div class="input-group-prepend">
      <button mat-button (click)="nuevoFiltroAlimentario()" aria-label="nuevo filtro alimentario">
       <mat-icon >add</mat-icon>
     </button>
     </div>
     <input type="text" class="form-control" aria-label="searchTerm" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="searchTerm">
     <div class="input-group-append" >
       <button mat-button  aria-label="buscar filtro">
         <mat-icon>search</mat-icon>
       </button>
     </div>
     
   </div>  
   <small id="helpId" class="form-text text-muted">Introduzca Termino de busqueda </small>
 </div>
 <ng-container *ngIf="filteredFiltros?.length>0; else elseTemplate">
   
  <mat-list class="custom-scroll-bar">  

        <mat-list-item *ngFor="let pacienteItem of filteredFiltros" >
            <button mat-button (click)="eliminarFiltro(pacienteItem)" aria-label="eliminar filtro">
              <mat-icon>delete</mat-icon>
            </button>
          <button mat-button (click)="selecionarFiltro(pacienteItem)" aria-label="ver detalle">
            <mat-icon src="src/assets/iconouser.svg" >account_circle</mat-icon>
          </button>
           <h4 mat-line>    {{ pacienteItem.nombre |titlecase }}</h4>
           <p mat-line> {{pacienteItem.descripcion }} </p>
         <mat-divider></mat-divider>
       
      
         </mat-list-item>
      </mat-list> 
 </ng-container>
 <ng-template #elseTemplate>
   <p>No hay Filtros  para mostra para mostrar</p>
 </ng-template>
 
</div>
