<div class="bg-dark text-white ">
  <div class="row ml-2">
    <h3>Datos Medicion Segmental</h3>
    <button class="float-right btn btn-lg" style="background-color:transparent;" (click)="close()">
      <mat-icon [ngStyle]="{ color: 'white' }">cancel</mat-icon>
    </button>
  </div>

  <ng-form name="formularioMedicionGeneral" #formularioMedicionGeneral="ngForm">
    <div class="form-group row ml-2 mr-2">
      <div class="form-group col-md-3">
        <label>Fecha</label>
        <input hidden name="id_medicion_segmental" />
        <input class="form-control" [(ngModel)]="medicion.fecha" name="fecha" required="required" autocomplete="nope"
          type="date"  #fecha="ngModel" />
          <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
            <div *ngIf="fecha?.errors.required">
             El campo es requerido
            </div>
          
      </div></div>

      <div class="form-group col-md-3">
        <label> Bd%Grasas</label>
        <input class="form-control" [(ngModel)]="medicion.bdporcentajegrasas" name="bdporcentajegrasas"
          required="required" type="number" min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label> Bd musculo</label>

        <input class="form-control" [(ngModel)]="medicion.bdmusculo" name="bd_musculo" required="required" type="number"
          min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label for="bimusculo"> Bi Musculo</label>

        <input class="form-control" [(ngModel)]="medicion.bimusculo" name="bimusculo" required="required" type="number"
          min="0.1" step="0.1" />
      </div>
    </div>
    <div class="form-group row ml-2 mr-2">
      <div class="form-group col-md-3">
        <label for="piporcentajegrasas"> Pi%grasas</label>

        <input class="form-control" [(ngModel)]="medicion.piporcentajegrasas" name="piporcentajegrasas"
          required="required" type="number" min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label> Pd Musculo</label>

        <input class="form-control" [(ngModel)]="medicion.pdmusculo" name="pdmusculo" required="required" type="number"
          min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label for="pdporcentajegrasas"> Pd%Grasas</label>

        <input class="form-control" [(ngModel)]="medicion.pdporcentajegrasas" name="pdporcentajegrasas"
          required="required" type="number" min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label for="tporcentajegrasa"> T%grasa</label>

        <input class="form-control" [(ngModel)]="medicion.tporcentajegrasa" name="tporcentajegrasa" required="required"
          type="number" min="0.1" step="0.1" />
      </div>
    </div>
    <div class="form-group row  ml-2 mr-2">
      <div class="form-group col-md-3">
        <label for="tmusculo">T Musculo</label>

        <input class="form-control" [(ngModel)]="medicion.tmusculo" name="tmusculo" required="required" type="number"
          min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label for="pimusculo">Pi Musculo</label>

        <input class="form-control" [(ngModel)]="medicion.pimusculo" name="pimusculo" required="required" type="number"
          min="0.1" step="0.1" />
      </div>

      <div class="form-group col-md-3">
        <label for="biporcentajegrasas">Bi%Grasas</label>

        <input class="form-control" [(ngModel)]="medicion.biporcentajegrasas" name="biporcentajegrasas"
          required="required" type="number" min="0.1" step="0.1" />
      </div>
    </div>
  </ng-form>

  <div class="modal-footer">
      <ng-container
      *ngIf="isNew; else elseTemplate"
    >
    <div class="btn-group"  >
        <button name="botonGuardar" type="button" title="Guardar Medicion Especifica" class="btn btn-success"
          (click)="guardarMedicion()" [disabled]="!formularioMedicionGeneral.form.valid" >
          Guardar
        </button>
    </div>
  </ng-container>
    <ng-template #elseTemplate>
  
    <div class="btn-group"  >

      <button type="button" name="botonEditar" class="btn btn-primary" title="Editar cita" (click)="GuardarEdicion()"  [disabled]="!formularioMedicionGeneral.form.valid">
        Editar
      </button>
      <button type="button" name="botonEliminar" class="btn btn-danger" title="Eliminar cita" (click)="Eliminar()"  [disabled]="!formularioMedicionGeneral.form.valid" >
        Eliminar
      </button>
    </div>
  </ng-template>
  </div>
</div>