<title class="title">Listado de Alimentos  </title>
<h2 class="title mt-3 ml-4">Listado de Alimentos</h2>
<div class="container-fluid align-content-lg-center " >
  <div class="container-fluid align-content-center" >

      <br>
     
    <div class="card  mt-3 ml-lg-5"  style="width: 800px;" *ngFor="let alimento of alimentos">
  
  <div class="card-header">
    <a class="card-title mt-0">{{alimento.nombre}} {{alimento.estado}}</a>
  </div>
  <div class="card-body">
    <img class="card-img" src="assets/descarga.jpg"> 
    <div class="card"></div>
  </div>
  <div class="card-footer">
    <div class="btn-group center">
       <button mat-raised-button (click)="openBottonSheet(alimento.id)" > Detalle</button >
    </div>
  </div>

</div>
<br><br>
</div>
</div>
