<div class="row mt-4">
  <button class="btn-success btn-sm" (click)="openNewBottonSheet()">Nuevo</button>
</div>
<div class="row mt-5">
  <div class="col-md-6">
<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="Fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element">{{ element.fecha | date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="antecedente">
    <th mat-header-cell *matHeaderCellDef> Antecedente </th>
    <td mat-cell *matCellDef="let element">  {{ element.antecedente }}</td>
  </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openBottonSheet(row)"></tr>
</mat-table>
</div>
</div>
</div>