<form>
  <div class="form-group">
    <label for="nombre" class="col-form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre" [(ngModel)]="platoPredeterminado.nombre" />
  </div>
  <table id="TableIngrediente" class="table order-list">
    <thead>
      <tr>
        <td>Alimento</td>
        <td>Cantidad (Gramos)</td>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-4">
            <div class="col-10">
                <mat-form-field class="example-full-width col-12">
                  <input
                    matInput
                    placeholder="Alimento"
                    aria-label="Alimento"
                    [matAutocomplete]="auto"
                    [formControl]="stateCtrl"
                    style="flex: 100%"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="displayFn(alimentos)"
                  >
                    <mat-option
                      *ngFor="let alimento of filteredAlimentos | async"
                      [value]="alimento.id"
                      with
                    >
                      <img
                        class="example-option-img"
                        aria-hidden
                        src="assets\descarga.jpg"
                        height="25"
                      />
                      <span>{{ alimento.nombre }} </span> |
                      <!--<small>Apellidos: {{paciente.apellidos}}</small>|-->
                      <small> Estado :  {{ alimento.estado }}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
        </td>
        <td class="col-sm-4">
          <input
            type="number"
            name="cantidad"
            class="form-control"
            id="cantidadIn"
            [(ngModel)]="cantidad"
          />
        </td>
        <td class="col-sm-4">
          <input
            type="button"
            class="btn-primary btn-lg btn-block "
            id="addrow"
            value="Añadir Ingrediente"
            (click)="addIngrediente()"
          />
        </td> 
        <td class="col-sm-2">
          
        </td>
        <td class="col-sm-2"><a class="deleteRow"></a></td>
      </tr>
      <tr *ngFor="let ingrediente of platoPredeterminado.ingredientes">
        <td class="col-sm-4">{{ingrediente.alimento.nombre}}</td>
        <td class="col-sm-4">{{ingrediente.cantidad}}</td>
        <td class="col-sm-4"><button class="btn-danger" (click)="deleteIngrediente(ingrediente.alimento.id)">Eliminar</button></td>
      </tr>
    </tbody>
    <tfoot>
     
      <tr>
        <td class="col-sm-2">Kcal Total</td>
        <td class="col-sm-2">Proteinas Totales(gr)</td>
        <td class="col-sm-2">Grasas Totales(gr)</td>
        <td class="col-sm-2">Hidratos Totales(gr)</td>
      </tr>
      <tr>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control" name="kcaltotales" [(ngModel)]="platoPredeterminado.kcaltotales"/>
        </td>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control" name="proteinastotales" [(ngModel)]="platoPredeterminado.proteinastotales"/>
        </td>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control" name="grasastotales" [(ngModel)]="platoPredeterminado.grasastotales"/>
        </td>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control"  name="hidratostotales" [(ngModel)]="platoPredeterminado.hidratostotales"/>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="form-group">
    <label for="receta" class="col-form-label">Escriba aqui la receta :</label>
    <textarea class="form-control" id="receta"></textarea>
  </div>
  <tr>
    <ng-container *ngIf="isNew; else elseTemplate">
        <td colspan="5" style="text-align: left;">
      
            <input
              type="button"
              class="btn-success btn-lg btn-block "
              id="addrow"
              value="guardar"
              (click)="guardarCita()"
                />
          </td>
    </ng-container>
    <ng-template #elseTemplate>
        <td colspan="5" style="text-align: left;">
      
            <input
              type="button"
              class="btn-primary btn-lg btn-block "
              id="addrow"
              value="Editar Plato"
              (click)="GuardarEdicion()"
            />
          </td>
          <td colspan="5" style="text-align: left;">
      
              <input
                type="button"
                class="btn-danger btn-lg btn-block "
                id="addrow"
                value="eliminar"
                (click)="Eliminar()"
              />
            </td>
    </ng-template>
    
    
  </tr>
</form>
