<div class="bg-dark text-white ">
    <div class="row ml-2">
      <div class="col">
      <h3>Datos Plato Predeterminado
        </h3>
        <button
        class="float-right btn btn-lg"
        style="background-color:transparent;"
      (click)=close()>
        <mat-icon [ngStyle]="{ color: 'white' }">cancel</mat-icon>
      </button>
    </div>
    </div>
    <div class="card-body">
    <ng-form>
  <div class="form-group">
    <label for="nombre" class="col-form-label">Nombre</label>
    <input type="text" class="form-control" name="nombre" [(ngModel)]="platoPredeterminado.nombre" />
  </div>
  <table id="TableIngrediente" class="table order-list">
    <thead>
      <tr>
        <td><p class="text-white">Alimento</p></td>
        <td><p class="text-white">Cantidad (Gramos)</p></td>
        <td><p class="text-white">Acciones</p></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-4">
            <div class="col-10">
                <mat-form-field class="example-full-width col-12">
                  <input
                    matInput
                    placeholder="Alimento"
                    aria-label="Alimento"
                    [matAutocomplete]="auto"
                    [formControl]="stateCtrl"
                    style="flex: 100% ;color: #fdf9f9;"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="displayFn(alimentos)"
                  >
                    <mat-option
                      *ngFor="let alimento of filteredAlimentos | async"
                      [value]="alimento.id"
                      with
                    >
                      <img
                        class="example-option-img"
                        aria-hidden
                        src="assets\descarga.jpg"
                        height="25"
                      />
                      <span>{{ alimento.nombre }} </span> |
                      <!--<small>Apellidos: {{paciente.apellidos}}</small>|-->
                      <small> Estado :  {{ alimento.estado }}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
        </td>
        <td class="col-sm-4">
          <input
            type="number"
            name="cantidad"
            class="form-control"
            id="cantidadIn"
            [(ngModel)]="cantidad"
          />
        </td>
        <td class="col-sm-4">
          <input
            type="button"
            class="btn-primary btn-lg btn-block "
            id="addrow"
            value="Añadir Ingrediente"
            (click)="addIngrediente()"
          />
        </td> 
        <td class="col-sm-2">
          
        </td>
        <td class="col-sm-2"><a class="deleteRow"></a></td>
      </tr>
      <tr><td class="col-sm-4"><p class="text-white">Nombre </p></td>
        <td class="col-sm-4"><p class="text-white">cantidad</p></td>
        <td class="col-sm-4"></td></tr>
      <tr *ngFor="let ingrediente of platoPredeterminado.ingredientes">
        <td class="col-sm-4"><p class="text-white">{{ingrediente.alimento.nombre}}</p></td>
        <td class="col-sm-4"><p class="text-white">{{ingrediente.cantidad}}</p></td>
        <td class="col-sm-4"><button class="btn-danger" (click)="deleteIngrediente(ingrediente.alimento.id)">Eliminar</button></td>
      </tr>
    </tbody>
    <tfoot>
     
      <tr>
        <td class="col-sm-2"><p class="text-white">Kcal Total</p></td>
        <td class="col-sm-2"><p class="text-white">Proteinas Totales(gr)</p></td>
        <td class="col-sm-2"><p class="text-white">Grasas Totales(gr)</p></td>
        <td class="col-sm-2"><p class="text-white">Hidratos Totales(gr)<p></td>
      </tr>
      <tr>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control " name="kcaltotales" [(ngModel)]="platoPredeterminado.kcaltotales"/>
        </td>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control " name="proteinastotales" [(ngModel)]="platoPredeterminado.proteinastotales"/>
        </td>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control " name="grasastotales" [(ngModel)]="platoPredeterminado.grasastotales"/>
        </td>
        <td class="col-sm-2">
          <input type="number" disabled  class="form-control "  name="hidratostotales" [(ngModel)]="platoPredeterminado.hidratostotales"/>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="form-group">
    <label for="receta" class="col-form-label">Escriba aqui la receta :</label>
    <textarea class="form-control ml-1 mr-1" name="receta" [(ngModel)]="platoPredeterminado.receta"></textarea>
  </div>
  <tr>
    <ng-container *ngIf="isNew; else elseTemplate">
        <td colspan="5" style="text-align: left;">
      
            <input
              type="button"
              class="btn-success btn-lg btn-block "
              id="addrow"
              value="guardar"
              (click)="guardarCita()"
                />
          </td>
    </ng-container>
    <ng-template #elseTemplate>
        <td colspan="5" style="text-align: left;">
      
            <input
              type="button"
              class="btn-primary btn-lg btn-block "
              id="addrow"
              value="Editar Plato"
              (click)="GuardarEdicion()"
            />
          </td>
          <td colspan="5" style="text-align: left;">
      
              <input
                type="button"
                class="btn-danger btn-lg btn-block "
                id="addrow"
                value="eliminar"
                (click)="Eliminar()"
              />
            </td>
    </ng-template>
    
    
  </tr>
</ng-form>
    </div>