<br>
<br>
<br>
<button (click)="openDialog()" class="btn btn-success">Nuevo Filtro</button>


<div class="col-md-6">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  
  <div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="Nombre" class="mr-2">
      <th mat-header-cell *matHeaderCellDef class="mr-2"> Fecha </th>
      <td mat-cell *matCellDef="let element" class="mr-2">{{ element.nombre }}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Descripcion" class="ml-2">
      <th mat-header-cell *matHeaderCellDef class="ml-2"> Descripcion </th>
      <td mat-cell *matCellDef="let element" class="ml-2">  {{ element.descripcion }}</td>
    </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mr-2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="mr-2" (click)="openDetails(row)"></tr>
  </mat-table>
  </div>
  </div> 
