<div class="paciente">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fill">
      <div class="row  ml-2">
        <h2 class="title mt-2 ml-4">Listado de Filtros Alimentarios</h2>
      </div>
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-3 col-sm ml-2">
            <app-list-filtro-alimentario
              [filtros]="filtros"
              (seleccion)="selecionarFiltro($event)"
              (eliminado)="eliminarFiltro($event)"
              (nuevo)="nuevoFiltro()"
            ></app-list-filtro-alimentario>
          </div>
          <div class="col-md-8 col-sm">
              <app-filtroalimentarioform
              *ngIf="isFiltroSelected"
              [isNew]="newFiltro"
              [filtroalimnetario]="filtroSelected"
              (filtro)="procesaPropagar($event)"
              (discard)="discard($event)"
            ></app-filtroalimentarioform>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>